.content {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.item {
    display: flex;
    height: 50px;
    width: 250px;
    align-items: center;
    color: inherit;
    text-decoration: none;

    padding: 15px;
}

.item.active {
    background: bisque;
}

.chat {
    margin: 10px 50px;

    position: relative;
    height: 500px;
}

.chatWrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    width: 650px;
    height: 370px;
    padding: 25px 5px;

    position: absolute;
    overflow: auto;
}

.message {
    padding: 10px 15px;
    background: bisque;
    border-radius: 5px;
}

/* Block with send form */

.sendBlock{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    grid-gap: 20px;
}

.textarea {
    resize: none;
    padding: 10px;
}

.send {
    width: 75px;
    height: 30px;
}