.list{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    margin-top: 50px;
    margin-left: 15px;
}

.form{
    display: flex;
    align-items: center;
}

.textarea {
    resize: none;
    margin-right: 20px;
    padding: 10px;
}

.button{
    width: 100px;
    height: 40px;
}