.main{
    grid-area: n;
    background: cornflowerblue;
    padding: 15px;
    height: 600px;
}

.list{
    line-height: 25px;
}

.item{
    color: #000000;
    display: block;
    transition: all .3s ease;
    width: 175px;
    text-decoration: none;
}

.item:hover,
.item.activeLink{
    color: #ffffff;
}
